{% extends "../default/section.twig" %}

{% set section_name = 'one' %}
{% set section_is_fluid = false %}

{% block section_inner %}
    <p>This is HTML from section-one.twig</p>

    <button data-fancybox data-src="#popup-test">Open fancybox</button>

    <div class="swiper-test">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="@img/unnamed.jpg" alt="#"></div>
            <div class="swiper-slide"><img src="@img/unnamed.jpg" alt="#"></div>
            <div class="swiper-slide"><img src="@img/unnamed.jpg" alt="#"></div>
            <div class="swiper-slide"><img src="@img/unnamed.jpg" alt="#"></div>
            <div class="swiper-slide"><img src="@img/unnamed.jpg" alt="#"></div>
            <div class="swiper-slide"><img src="@img/unnamed.jpg" alt="#"></div>
        </div>
    </div>

    <div class="slider-test">
        <div>
            <img src="@img/unnamed.jpg" alt="#">
        </div>
        <div>
            <img src="@img/unnamed.jpg" alt="#">
        </div>
        <div>
            <img src="@img/unnamed.jpg" alt="#">
        </div>
        <div>
            <img src="@img/unnamed.jpg" alt="#">
        </div>
        <div>
            <img src="@img/unnamed.jpg" alt="#">
        </div>
        <div>
            <img src="@img/unnamed.jpg" alt="#">
        </div>
    </div>
{% endblock %}

